@font-face {
    font-family: petrona;
    src: url("../src/assets/fonts/Petrona-VariableFont_wght.ttf");
}


@theme {
    --font-petrona: petrona, sans-serif;
}

@import "tailwindcss";

:root {
    /* background-color: aquamarine; */
    padding: 0%;
    margin:0%;
}